<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Current Budget</title>
</head>
<body>
<div align="center">
    <h1>Current Budget</h1>
    <br/><br/>
    <a th:href="@{/editBudget}">Edit Budget</a>
            <table border="1" cellpadding="10">
                <tr>
                    <td>Monthly Budget:</td>
                    <td th:text="${budget.monthlyBudget}">Monthly Budget</td>
                </tr>
                <tr>
                    <td>Monthly Income:</td>
                    <td th:text="${budget.monthlyIncome}">Monthly Income</td>
                </tr>
                <tr>
                    <td>Expenses:</td>
                    <td th:text="${budget.expenses}">Expenses</td>
                </tr>
                <tr>
                <td>Current Amount:</td>
                <td th:text="${budget.currentAmount}">Current Amount</td>
                </tr>
                <tr>
                    <td>One Time Payment:</td>
                    <td th:text="${budget.oneTimePayment}">One Time Payment</td>
                </tr>
                <tr>
                    <td>Cost Of Rent:</td>
                    <td th:text="${budget.costOfRent}">Cost Of Rent</td>
                </tr>
                <tr>
                    <td>Fixed Debt Payments:</td>
                    <td th:text="${budget.fixedDebtPayments}">Fixed Debt Payments</td>
                </tr>
                <tr>
                    <td>Weekly Cost Of Groceries:</td>
                    <td th:text="${budget.weeklyCostOfGroceries}">Weekly Cost Of Groceries</td>
                </tr>
                <tr>
                    <td>Weekly Cost Of Eating Out:</td>
                    <td th:text="${budget.weeklyCostOfEatingOut}">Weekly Cost Of Eating Out</td>
                </tr>
                <tr>
                    <td>Weekly Cost Of Beer Wine:</td>
                    <td th:text="${budget.weeklyCostOfBeerWine}">Weekly Cost Of Beer Wine</td>
                </tr>
                <tr>
                    <td>Monthly Cost:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Healthcare:</td>
                    <td th:text="${budget.healthcare}">Healthcare</td>
                </tr>
                <tr>
                    <td>Childcare:</td>
                    <td th:text="${budget.childcare}">Childcare</td>
                </tr>
                <tr>
                    <td>Car Insurance:</td>
                    <td th:text="${budget.carInsurance}">Car Insurance</td>
                </tr>
                <tr>
                    <td>Vehicle:</td>
                    <td th:text="${budget.vehicle}">Vehicle</td>
                </tr>
                <tr>
                    <td>Gas:</td>
                    <td th:text="${budget.gas}">Gas</td>
                </tr>
                <tr>
                    <td>HVAC:</td>
                    <td th:text="${budget.HVAC}">HVAC</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td th:text="${budget.phone}">Phone</td>
                </tr>
                <tr>
                    <td>Tv:</td>
                    <td th:text="${budget.tv}">Tv</td>
                </tr>
                <tr>
                    <td>Travel:</td>
                    <td th:text="${budget.travel}">Travel</td>
                </tr>
                <tr>
                    <td>Other Utilities:</td>
                    <td th:text="${budget.otherUtilities}">Other Utilities</td>
                </tr>
                <tr>
                    <td>Number Of Times You Eat Out:</td>
                    <td th:text="${budget.numberOfTimesYouEatOut}">Number Of Times You Eat Out</td>
                </tr>
            </table>
    <br/><br/>
    <a th:href="@{/home}">Return To Home Page</a>
</div>
</body>
</html>