<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Edit Transaction</title>
</head>
<body>
<div align="center">
  <h1>Edit Transaction</h1>
  <br />
    <form action="#" th:action="@{'/updateTransaction/' + ${transaction.id}}" th:object="${transaction}"
          method="post">
    <table border="0" cellpadding="10">
      <tr>
        <td>Customer Name:</td>
        <td><input type="text" th:field="*{customerName}" required/></td>
      </tr>
      <tr>
        <td>Vender Name:</td>
        <td><input type="text" th:field="*{venderName}" required/></td>
      </tr>
      <tr>
        <td>Amount:</td>
        <td><input type="number" th:field="*{amount}" required/></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>