<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Checking Account</title>
</head>
<body>
<div align="center">
    <h1>Goal Accounts</h1>
    <br/><br/>
    <a th:href="@{/newGoal}">Add New Goal</a>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Account ID</th>
            <th>Account Name</th>
            <th>Target Amount</th>
            <th>Current Amount</th>
            <th>Monthly Contribution</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="goals : ${goalsList}">
            <td th:text="${goals.id}">Goal ID</td>
            <td th:text="${goals.name}">Goal Name</td>
            <td th:text="${goals.targetAmount}">Target Amount</td>
            <td th:text="${goals.currentAmount}">Current Amount</td>
            <td th:text="${goals.currentAmount}">Monthly Contribution</td>
            <td>
                <a th:href="@{'/deleteGoal/' + ${goals.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <br/><br/>
    <a th:href="@{/home}">Return To Home Page</a>
</div>
</body>
</html>