<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Goal Account</title>
</head>
<body>

<a th:href="@{/reports}">Return To Reports Page</a>

<div align="center">
  <h1>Goal Report</h1>
  </br></br>

  <h2>Goal Accounts</h2>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Account ID</th>
      <th>Account Name</th>
      <th>Monthly Contribution</th>
      <th>Current Amount</th>
      <th>Target Amount</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="goals : ${goalsList}">
      <td th:text="${goals.id}">Goal ID</td>
      <td th:text="${goals.name}">Goal Name</td>
      <td th:text="${goals.monthlyContribution}">Monthly Contribution</td>
      <td th:text="${goals.currentAmount}">Current Amount</td>
      <td th:text="${goals.targetAmount}">Target Amount</td>

    </tr>
    </tbody>
  </table>

  <a th:href="@{/editGoal/{id}}">Edit Goal</a>
  <a th:href="@{/newGoal}">Add New Goal</a>

  <br/><br/>

</div>
</body>
</html>