<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Monthly Budget</title>
</head>
<body>

<h1 align="center" style="{position:sticky,top:0}">Monthly Budget App</h1>

<a th:href="@{/editBudget}" align="left">Edit Budget</a>
<br/><br/>
<a th:href="@{/reports}" align="left">View Reports</a>
<br/><br/>
<a th:href="@{/tables}" align ="left">View Tables</a>

<div align="center">
            <table border="1" cellpadding="10">
                <tr>
                    <td>Monthly Budget:</td>
                    <td th:text="${budget.monthlyBudget}">Monthly Budget</td>
                </tr>
                <tr>
                    <td>Monthly Income:</td>
                    <td th:text="${budget.monthlyIncome}">Monthly Income</td>
                </tr>
                <tr>
                    <td>Expenses:</td>
                    <td th:text="${expenseCalculation}">Expenses</td>
                </tr>
                <tr>
                <td>Current Balance:</td>
                <td th:text="${currentBalance}">Current Amount</td>
                </tr>
            </table>

    <br/><br/>

    <h2>Expense List</h2>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Expense</th>
            <th>Expected Value</th>
            <th>Actual Value</th>
        </tr>
        </thead>

        <tr>
            <td>One Time Payment:</td>
            <td th:text="${budget.oneTimePayment}" align="center">One Time Payment</td>
            <td th:text="${budget.oneTimePayment}" align="center">One Time Payment</td>
        </tr>
        <tr>
            <td>Cost Of Rent:</td>
            <td th:text="${budget.costOfRent}" align="center">Cost Of Rent</td>
        </tr>
        <tr>
            <td>Fixed Debt Payments:</td>
            <td th:text="${budget.fixedDebtPayments}" align="center">Fixed Debt Payments</td>
        </tr>
        <tr>
            <td>Weekly Cost Of Groceries:</td>
            <td th:text="${budget.weeklyCostOfGroceries}" align="center">Weekly Cost Of Groceries</td>
        </tr>
        <tr>
            <td>Weekly Cost Of Eating Out:</td>
            <td th:text="${budget.weeklyCostOfEatingOut}" align="center">Weekly Cost Of Eating Out</td>
        </tr>
        <tr>
            <td>Weekly Cost Of Beer Wine:</td>
            <td th:text="${budget.weeklyCostOfBeerWine}" align="center">Weekly Cost Of Beer Wine</td>
        </tr>
        <tr>
            <td>Healthcare:</td>
            <td th:text="${budget.healthcare}" align="center">Healthcare</td>
        </tr>
        <tr>
            <td>Childcare:</td>
            <td th:text="${budget.childcare}" align="center">Childcare</td>
        </tr>
        <tr>
            <td>Car Insurance:</td>
            <td th:text="${budget.carInsurance}" align="center">Car Insurance</td>
        </tr>
        <tr>
            <td>Vehicle:</td>
            <td th:text="${budget.vehicle}" align="center">Vehicle</td>
        </tr>
        <tr>
            <td>Gas:</td>
            <td th:text="${budget.gas}" align="center">Gas</td>
        </tr>
        <tr>
            <td>HVAC:</td>
            <td th:text="${budget.HVAC}" align="center">HVAC</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td th:text="${budget.phone}" align="center">Phone</td>
        </tr>
        <tr>
            <td>Tv:</td>
            <td th:text="${budget.tv}" align="center">Tv</td>
        </tr>
        <tr>
            <td>Travel:</td>
            <td th:text="${budget.travel}" align="center">Travel</td>
        </tr>
        <tr>
            <td>Other Utilities:</td>
            <td th:text="${budget.otherUtilities}" align="center">Other Utilities</td>
        </tr>
        <tr>
            <td>Number Of Times You Eat Out:</td>
            <td th:text="${budget.numberOfTimesYouEatOut}" align="center">Number Of Times You Eat Out</td>
        </tr>
    </table>
</div>
</body>
</html>