<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home Page</title>
</head>
<body>
<div align="center">
    <h1>Home Page</h1>
    <br/><br/>
    <a th:href="@{/new}">Add New User</a>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.id}">
            <tbody>
            <tr th:each="user : ${usersList}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.email}">Eamil</td>
            <td>
                <!--            <a th:href="@{'/edit/' + ${budget.id}}">Edit</a>-->
                <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
            </td>
            </tr>
            </tbody>
            </td>


            <td th:text="${user.firstName}"><tbody>
            <tr th:each="user : ${usersList}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.email}">Eamil</td>
                <td>
                    <!--            <a th:href="@{'/edit/' + ${budget.id}}">Edit</a>-->
                    <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                </td>
            </tr>
            </tbody></td>

            <td>
<!--            <a th:href="@{'/edit/' + ${budget.id}}">Edit</a>-->
                    <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                    </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>