<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Create New Savings</title>
</head>
<body>
<div align="center">
  <h1>Create New Savings</h1>
  <br />
  <!--
  Here is the form that will be used to save the new customer.
  The form is tied to the Customer object you added to the model,
  and on submit it will hit the /save endpoint using the POST method.
  -->
  <form action="#" th:action="@{/saveSavings}" th:object="${savings}" method="post">
    <!--
    These input fields are used to collect the information
    required to complete the referenced Customer object.
    -->
    <table border="0" cellpadding="10">
      <tr>
        <td>Account Name:</td>
        <td><input type="text" th:field="*{name}" required/></td>
      </tr>
      <tr>
        <td>Target Amount:</td>
        <td><input type="number" autocomplete="off" th:field="*{targetAmount}" min="10" max="20000"/></td>
      </tr>
      <tr>
          <td>Current Amount:</td>
          <td><input type="number" autocomplete="off" th:field="*{currentAmount}" min="10" max="20000"/></td>
      </tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>