<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Reports</title>
</head>
<body>
<div align="center">
    <h1>Reports</h1>
    <br/><br/>
    <a th:href="@{/futureBalanceReport}">Future Balance Report</a>
    <a th:href="@{/newGoal}">... Report</a>
    <a th:href="@{/newGoal}">... Report</a>
    <a th:href="@{/newGoal}">... Report</a>
    <br/><br/>
    <a th:href="@{/home}">Return To Home Page</a>
</div>
</body>
</html>