<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Rollover Transactions</title>
</head>
<body>

<a th:href="@{/transaction}">Return To Transactions Page</a>

<div align="center">
    <h1>Rollover Transactions</h1>

    <br/><br/>
    <a>Table of transactions Not added to Savings account <a>
    <form action="#" th:action="@{/completeRollover}">
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Customer Name</th>
            <th>Vender Name</th>
            <th>Transaction Amount</th>
            <th>Category</th>
            <th>Added To Savings</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionsNotSavedToSavings}">
            <td th:text="${transaction.id}">Account ID</td>
            <td th:text="${transaction.customerName}">Customer Name</td>
            <td th:text="${transaction.venderName}">Vender Name</td>
            <td th:text="${transaction.amount}">Amount</td>
            <td th:text="${transaction.category}">Category</td>
            <td th:text="${transaction.addedToSavings}">Added To Savings</td>
        </tr>
        <tr>
        <td colspan="6" align="center"><button type="submit">Rollover Transactions</button></td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>