<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Spending Breakdown</title>
</head>
<body>
<div align="center">
  <form>
  <h1>Spending Breakdown</h1>
  <br/><br/>
    <table border="0" cellpadding="10">
      <h2>Transaction Table</h2>
      <tbody>
      <tr>
        <td>
          <table border="1" cellpadding="10">
            <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Customer Name</th>
              <th>Vender Name</th>
              <th>Transaction Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${lastMonthsTravelTransactions}">
              <td th:text="${transaction.id}">Transaction ID</td>
              <td th:text="${transaction.customerName}">Customer Name</td>
              <td th:text="${transaction.venderName}">Vender Name</td>
              <td th:text="${transaction.amount}">Amount</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <br/><br/>
    <a th:href="@{/reports}">Return To Home Page</a>
  </form>
</div>
</body>